<div class="cat-box">
  {{#each cats}}
  <div class="cat">
    <a href="/cats/{{id}}">
      <h2>{{name}}</h2>
      <img src="{{this.image}}">
      <p class="description">{{story}}</p>
    </a>
  </div>
  {{/each}}
</div>
