<div class="cat-box">
  <div class="cat">
    {{#each cats}}
    <a href="/cats/{{id}}">
      <h2>{{name}}</h2>
      <img src="{{this.image}}">
      <p>{{story}}</p>
    </a>
    {{/each}}
  </div>
</div>
