<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <a href="/">
      <header>
        <h1>Meow-city</h1>
        <p>Where meow happens...</p>
      </header>
    </a>
    <a href="/cats/new"><nav><p>Create New Cat</p></nav></a>
    <div class="container">
      {{{body}}}
    </div>
  </body>
</html>
